* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yanone Kaffeesatz", sans-serif;
    background-color: #FAFAFA;
  }

  .App {
    display: flex;
    position: relative;
  }

  .sideBar{
    width: 30%;
    height: 100vh;
    padding: 10px;
    border-right: 3px solid #e3e038;
    position: fixed;
  }

  .sidebarLink {
    color: #1e2d44e0;
    font-weight: 900;
    text-decoration: none;
  }
  .contentMain {
    width: 70%;
    position: absolute;
    right: 0;
  }

  .productsMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 70%;
    position: absolute;
    right: 0;
  }

  .sideBar .containerLogo{
    width: 80%;
    margin: 40px auto;
    margin-bottom: 50px;
  }

  .sideBar ul li {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    padding: 5px;
    list-style: none;
    
  }

  .sideBar ul li a{
    text-decoration: none;
  }

 
  .containerLogo img {
    width: 100%;
  }

  /* INICIO DEL MAIN MAIN MAIN MAIN */
  
  .listTop,.list-productLine {
    width: 90%;
    margin: 50px auto;
    
  }

  .listTop .contentTotals{
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0 6px 10px 0 rgb(106 105 110 / 16%);
    background-color: #FFF;
  }

  .itemList{
    background-color: #FFF;
  }

  .itemList span{
    display: block;
    background-color: #FFF;
  }

  .contentTotals-line{
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0 6px 10px 0 rgb(106 105 110 / 16%);
    background-color: #FFF;
  }
  .contentProductsLine h3{
    margin-bottom: 10px;
    text-align: center;

  }

  .itemLine{
    width: 90%;
    margin: 0 auto;
  }

  .itemLine .contentLines{
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0 6px 10px 0 rgb(106 105 110 / 16%);
    margin-bottom: 10px;

  }
  .itemLine .contentLines span{
    background-color: #FFF;
  }
  .itemLine span{
    display:block;

  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .containerInfo {
    margin-bottom: 10px;
  }

  .contentLast{
    width: 90%;
    margin: 0 auto;
  }

  /* LAST PRODUCT LAST PRODUCT LAST PRODUCT LAST PRODUCT */ 

  .contentLastProduct, .contentLastUser{
   
    width: 90%;
    margin: 40px auto;
    text-align: center;
    border: 5px solid #e3e038;
    border-radius: 10px;
    padding: 10px;
  }

  .containerProductMain {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    border: 3px solid #e3e038;
    border-radius: 10px;
    overflow: hidden;
  }
  .contentLastProduct .info{
    text-align: center;
  }
  .containerImage{
    width: 80%;
    margin: 10px auto;
  }
  
  .containerImage img{
    object-fit: contain;
    width: 100%;
  }

  /* LAST USER LAST USER LAST USER LAST USER */

  
  
  /* @media (min-width: 481px){
    
    .listTop {
      display: flex;
      margin: 80px auto;
      justify-content: space-around;
    }
  } */

  @media (min-width: 769px) {

    .listTop {
      display: flex;
      margin: 80px auto;
      justify-content: space-around;
    }
    .listTop .contentTotals{
      height: 100px;
      width: 95%;
      margin-right: 10px;
    }

    .itemList{
      margin: 20px;
    }

    .contentTotals-line{
      height: 100px;
      width: 95%;
      margin-right: 10px;
    }
    .itemLine{
      display: flex;
      justify-content: space-around;
    }
    
  .itemLine .contentLines{
       width: 95%;
       height: 100px;
       padding: 20px;
       padding-top: 30px;
       margin-right: 10px;


  }
  .contentLast {
    display: flex;
  }

  .contentLastProduct, .contentLastUser{
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
  }
  
  .containerImage img{
    max-height: 300px;
  }

  .productsMain {
    grid-template-columns: repeat(3, 1fr);
  
  }
  
  }
 
  @media (min-width: 1300px) {
    .productsMain {
      grid-template-columns: repeat(4, 1fr);
    }
  }