<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main class = "admin-main">
        <h2 class="title-admin">Creación y edicion de productos</h2>
        <section class= "add">
        <a href= "/products/adminCreate"><i class="fas fa-plus-circle"></i></a>
        <a href= "/products/adminCreate"><h3>Agregar</h3></a>
    </section>
        <article class = "admin-table">
        <table class= "product-admin-table">
            <!--ENCABEZADO DE LA TABLA-->
            
            <thead >
                
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Borrar</th>
            
            </tr>
                </thead> 
            

        <!--CONTENIDO DE LA TABLA-->
        <tbody>
            <tr>
                <td>7006</td>
                <td>Camiseta full color</td>
                <td><a href="/products/product"><i class="far fa-eye"></i></a></td>
                <td><a href="/products/adminEdit"><i class="far fa-edit"></i></a></td>
                <td><a href="#"><i class="far fa-trash-alt"></i></a></td>

            </tr>
            <tr>
                <td>7006</td>
                <td>Chompa sublimada</td>
                <td><a href="#"><i class="far fa-eye"></i></a></td>
                <td><a href="#"><i class="far fa-edit"></i></a></td>
                <td><a href="#"><i class="far fa-trash-alt"></i></a></td>

            </tr>
        </tbody>
        
            </table>
        </article>
                
                    
    </main>
    <%- include("../partials/footer") %>
</body>