<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main class = "admin-main">
        <h2 class="title-admin">Creación y edicion de productos</h2>
        <a href= "#"><i class="fas fa-plus"></i><h3>Agregar</h3></a>

        <table class= "product-admin-table"> 
            <tr>
                <td>ID:</td>
                <td>7006</td>
            </tr>
            <tr>
                <td>Descripción:</td>
                <td>Estampado</td>
            </tr>
                        
            <tr>
                <td>Precio:</td>
                <td>35.000</td>
            </tr>
            
            <tr>
                <td>Existecia:</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Ver</td>
                <td><a href="#"><i class="far fa-eye"></i></a></td>
                
            </tr>
            <tr>
                <td>Editar</td>
                <td><a href="#"><i class="far fa-edit"></i></a></td>
                
            </tr>
            <tr>
                <td>Editar</td>
                <td><a href="#"><i class="far fa-trash-alt"></i></a></td>
            </tr>
        
            </table>
                
                    
    </main>
    <%- include("../partials/footer") %>
</body>