<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main class="admin-main">

                <section class="create-form">
                    <h2 class="title-admin">Edita este producto</h2>
                    <form class="create" action='/products/adminEdit/<%=productEdit[0].id%>?_method=PUT' method="POST" enctype="multipart/form-data"> 
                        <input type="text" name="fullName" id="fullname" minlength="2" placeholder="Nombre del producto"
                            required>
                        <input type="number" name="price" id="price" minlength="2" placeholder="Precio del producto"
                            required>

                        <section class="container-lineform">
                            <h3>Seleciona la linea del producto</h3>
                            <select class="select_service" name="product_line" id="product_line" type="select">
                                <option selected="" value="Linea de producto">Linea de producto</option>
                                <option value="Linea fashion ">Linea fashion </option>
                                <option value="Linea deportiva">Linea deportiva</option>
                                <option value="Linea industrial">Linea industrial</option>
                                <option value="Linea medica">Linea medica</option>
                            </select>

                            <h3>Seleciona la actividad</h3>
                            <select class="select_service" name="activity" id="activity" type="select">
                                <option selected="" value="Sublinea de producto">Subinea de producto</option>
                                <option value="Eventos">Eventos </option>
                                <option value="Emprendimientos">Emprendimientos</option>
                                <option value="Celebraciones">Celebraciones</option>
                                <option value="Tendencias">Tendencias</option>
                                <option value="Empresariales">Empresariales</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Presentación">Presentación</option>
                                <option value="Basketball">Basketball</option>
                                <option value="Voleyball">Voleyball</option>
                                <option value="Futbol">Futbol</option>
                                <option value="Salud">Salud</option>
                            </select>

                            <h3>Selecciona la subactividad</h3>
                            <select class="subactivity" name="subActivity" type="select" multiple>
                                <option value="campañas-publicitarias">Campañas publicitarias</option>
                                <option value="campañas-politicas">Camapañas politicas </option>
                                <option value="eventos-coporporativos">Eventos corpotativos</option>
                                <option value="comidas-rapidas">Comidas rádipas</option>
                                <option value="restaurantes">Restaurantes</option>
                                <option value="almacenes">Almacenes</option>
                                <option value="negocios">Negocios</option>
                                <option value="cumpleaños">Cumpleaños</option>
                                <option value="baby-showers">Baby showers</option>
                                <option value="dias-especiales">Días especiales</option>
                                <option value="diseños-de-temporada">Diseños de temporada</option>
                                <option value="diseños-exclusivos">Diseños exclusivos</option>
                                <option value="empresas">Empresas</option>
                                <option value="negocios">negocios</option>
                                <option value="emprendimientos">Emprendimientos</option>
                                <option value="ultima-moda">Última moda</option>
                                <option value="re-ventas">Re ventas</option>
                                <option value="almacenes-de-ropa">Almacenes de ropa</option>
                                <option value="consorcios">Consorcios</option>
                                <option value="empresas-sector-industrial-educativo-administrativo">Empresas sector:
                                    industrial,educativo, administrativo</option>
                                <option value="escuelas-de-futbol">Escuelas de futbol</option>
                                <option value="torneos-de-colegio">Torneos de colegio</option>
                                <option value="torneos-de-barrio">Torneos de barrio</option>
                                <option value="torneos-de-empresas">Torneos de empresas</option>
                                <option value="hospitales">Hospitales</option>
                                <option value="bomberos">Bomberos</option>
                                <option value="consultorios">Consultorios</option>
                                <option value="esteticas"> Estéticas</option>
                            </select>

                            <h3>Seleciona la Técnica</h3>
                            <select class="select_service" name="technique" id="select-service" type="select">
                                <option selected="" value="Técnica de producto">Técnica de producto</option>
                                <option value="Full color sublimación">Full color sublimación</option>
                                <option value="Serigrafia 1 tintas">Serigrafia 1 tinta</option>
                                <option value="Serigrafia 2 tintas">Serigrafia 2 tintas</option>
                                <option value="Vinilo textil 1 color">Vinilo textil 1 color</option>
                                <option value="Vinilo textil 2 colores">Vinilo textil 2 colores</option>
                            </select>

                            <h3>Seleciona el tipo de tela</h3>
                            <div class="tipo-tela">
                                <label for="algodon"><input type="checkbox" name="tela" id="algodon"
                                        value="algodon">Algodón</label>
                                <label for="poliester"><input type="checkbox" name="tela" id="poliester"
                                        value="poliester">Poliester</label>
                                <label for="algodon-peinado"><input type="checkbox" name="tela" id="algodon peinado"
                                        value="algodon">Algodón peinado</label>
                                <label for="piel-de-durazno"><input type="checkbox" name="tela" id="piel-de-durazno"
                                        value="piel-de-durazno">Piel de durazno</label>
                            </div>

                            <figure class="container_product">
                                <img class="product_edit" src="/img/fashion.png" alt="camiseta_fashion">
                            </figure>
                            <h3 class="create-select">Selecciona un archivo</h3>
                            <input type="file" name="image" accept=".jpg , .png">
                            <div class="container_description">
                                <div class="save">
                                    <button class="buttons" type="submit" class="submit" value="Enviar">Guardar</button>
                                </div>
                    </form>
                </section>





            </main>
            <%- include("../partials/footer") %>
    </body>