<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main class = "admin-main">
        
        <section class= "create-form">
            <h2 class="title-admin">Crea un nuevo producto</h2>
            <form class= "create" method="post" action="/products/adminCreate" enctype="multipart/form-data">
                <input type="text" name="fullname" id="fullname" minlength="2" placeholder="Nombre del producto" required>
                <input type="number" name="price" id="price" minlength="2" placeholder="Precio del producto" required>
            <section class="container-lineform">
                <h3>Seleciona la linea del producto</h3>
                <select class="select_service" name="productLine" id="select-service" type="select" >
                    <option selected="" value="Linea de producto">Linea de producto</option>
                    <option value="Linea fashion ">Linea fashion </option>
                    <option value="Linea deportiva">Linea deportiva</option>
                    <option value="Linea industrial">Linea industrial</option>
                    <option value="Linea medica">Linea medica</option>
                </select>
                <h3>Seleciona la actividad</h3>
                <select class="select_service" name="service" id="select-service" type="select" >
                    <option value="Eventos">Eventos </option>
                    <option value="Emprendimientos">Emprendimientos</option>
                    <option value="Celebraciones">Celebraciones</option>
                    <option value="Tendencias">Tendencias</option>
                    <option value="Empresariales">Empresariales</option>
                    <option value="Fashion">Fashion</option>
                    <option value="Presentación">Presentación</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Voleyball">Voleyball</option>
                    <option value="Futbol">Futbol</option>
                    <option value="Salud">Salud</option>
                </select>

                <h3>Selecciona la subactividad</h3>
                <select class="subactivity" name="subactivity" type="select" multiple>
                    <option value="campañas-publicitarias">Campañas publicitarias</option>
                    <option value="campañas-politicas">Camapañas politicas </option>
                    <option value="eventos-coporporativos">Eventos corpotativos</option>
                    <option value="comidas-rapidas">Comidas rádipas</option>
                    <option value="restaurantes">Restaurantes</option>
                    <option value="almacenes">Almacenes</option>
                    <option value="negocios">Negocios</option>
                    <option value="cumpleaños">Cumpleaños</option>
                    <option value="baby-showers">Baby showers</option>
                    <option value="dias-especiales">Días especiales</option>
                    <option value="diseños-de-temporada">Diseños de temporada</option>
                    <option value="diseños-exclusivos">Diseños exclusivos</option>
                    <option value="empresas">Empresas</option>
                    <option value="negocios">negocios</option>
                    <option value="emprendimientos">Emprendimientos</option>
                    <option value="ultima-moda">Última moda</option>
                    <option value="re-ventas">Re ventas</option>
                    <option value="almacenes-de-ropa">Almacenes de ropa</option>
                    <option value="consorcios">Consorcios</option>
                    <option value="empresas-sector-industrial-educativo-administrativo">Empresas sector: industrial,educativo, administrativo</option>
                    <option value="escuelas-de-futbol">Escuelas de futbol</option>
                    <option value="torneos-de-colegio">Torneos de colegio</option>
                    <option value="torneos-de-barrio">Torneos de barrio</option>
                    <option value="torneos-de-empresas">Torneos de empresas</option>
                    <option value="hospitales">Hospitales</option>
                    <option value="bomberos">Bomberos</option>
                    <option value="consultorios">Consultorios</option>
                    <option value="esteticas"> Estéticas</option>


                </select>


            <h3>Seleciona la Técnica</h3>

            <div class= "tipo-tecnica">
                <label for="full-color-sublimacion"></label><input type="checkbox" name="technique" value="full-color-sublimacion">Full color sublimación</label>
                <label for="serigrafia-1-tinta"><input type="checkbox" name="technique"  value="serigrafia-1-tinta">Serigrafía 1 tinta</label>
                <label for="serigrafia-2-tintas"><input type="checkbox" name="technique"  value="serigrafia-2-tintas">Serigrafia 2 tintas</label>
                <label for="vinilo-textil-1-color"><input type="checkbox" name="technique"  value="vinilo-textil-1-color">Vinilo textil 1 color</label>
                <label for="vinilo-textil-2-colores"><input type="checkbox" name="technique" value="vinilo-textil-2-colores">Vinilo textil 2 colores</label>
            </div>

                <h3>Seleciona el tipo de tela</h3>

                <div class="tipo-tela">
                    <label for="algodon"><input type="checkbox" name="material" id="algodon" value="algodon">Algodón</label>
                    <label for="poliester"><input type="checkbox" name="material" id="poliester" value="poliester">Poliester</label>
                    <label for="algodon-peinado"><input type="checkbox" name="material" id="algodon peinado" value="algodon">Algodón peinado</label>
                    <label for="piel-de-durazno"><input type="checkbox" name="material" id="piel-de-durazno" value="piel-de-durazno" >Piel de durazno</label>
                </div>
                
            </section>
            
            
              <div class= "container-lineform">
            <h3>Selecciona un archivo</h3>
                <input type="file" name="image" accept=".jpg, .png">
            </div>
                <div class="container_description">
                    <div class = "save">
                        <button class = "buttons" type="submit" class="submit" value="Guardar">Guardar</button>
                        </div>
                        </form>
                </section>

            </main>
            <%- include("../partials/footer") %>
    </body>