<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    
    <main class="products-view-main">
        <section class="products-view">
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
            <a href="#">
                <article class="products-container">
                    <div>
                        <figure class="image-container">
                            <img src="/img/fashion.png" alt="imagen de producto">
                        </figure>
                        <p>Camisetas personalizadas</p>
                    </div>
                    <div>
                        <ul>
                            <li>Eventos</li>
                            <li>$ 18000</li>
                        </ul>
                    </div>
                </article>
            </a>
        </section>
    </main>

    <%- include("../partials/footer") %>
</body>
</html>