<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main class=container_car_shop>
                <h3 class="title_car">Carrito</h3>
                <form action="/" method="POST">
                    <section class="container_description_buy">
                        <article class="description_buy">
                            <table class="table_car">
                                <thead>
                                    <tr>
                                        <th class="product_image">&nbsp;</th>
                                        <th class="product_name">Producto</th>
                                        <th class="product_price">Precio</th>
                                        <th class="product_quantity">Cantidad</th>
                                        <th class="product_subtotal">Subtotal</th>
                                        <th class="product_remove">&nbsp;</th>
                                    </tr>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="product_image">
                                            <figure class="product_buy">
                                                <img class="imagen-producto" src="/img/main_image/fashion.png" alt="Imagen del producto">
                                            </figure>
                                        </td>
                                        <td class="product_name" data-title="producto"><a href="#">Nombre
                                                Producto</a>
                                        </td>
                                        <td class="product_price" data-title="precio">
                                            <span class=amount_price>
                                                <span class=symbol_price>$</span>
                                                123456
                                            </span>
                                        </td>
                                        <td class="product_quantity" data-title="cantidad">
                                            <div class="car_quantity">
                                                <label class=title_quantity for="contador-producto"></label>
                                                <input type="number" id="counter-product"
                                                    class="container_value_description" step="1" min="0" max="19"
                                                    size="4" placeholder inputmode="numeric">
                                            </div>
                                        </td>
                                        <td class="product_subtotal" data-title="subtotal">$123456</td>
                                        <td class="product_remove">
                                            <button type="reset" value="Borrar" class="container_value_description"><i
                                                    class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    </tr>
                                </tbody>
                            </table>
                        </article>
                    </section>

                    <section class="container_shop">
                        <section class="container_cupon">
                            <div class="title_cupon">
                                <h3 class="code_prom">Cupon de promoción</h3>
                                <label for="cupon">Ingrese su cupon de promoción</label>
                            </div>
                            <div class="digitar_cupon">
                                <input type="text" id="cupon" name="cupon">
                            </div>
                            <button class="apply_cupon" value="apply_cupon" type="button">Aplicar</button>
                        </section>
                        <section class="container_resume">
                            <h3 class="title_totalcar">Total carrito</h3>
                            <article class="data_resume">
                                <table class="table_resume">
                                    <tbody>
                                        <tr>
                                            <td class="product_subtotal" data-title="Subtotal">$123456 </td>
                                            </td>
                                            <td class="product_send" data-title="Envío">
                                                <span class="amount_send">
                                                    <span class=symbol_price>$</span>
                                                    123456
                                                </span>
                                            </td>
                                            <td class="total_buy" data-title="Total">
                                                <span class="amount_total_buy">
                                                    <span class=symbol_price>$</span>
                                                    123456
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </article>
                            <button class="finish_shop" type="submit" value="finish_shop">Finalizar compra</button>
                        </section>
                    </section>
                </form>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>