<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotiza tu servicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style_home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>
    <header>
        <figure class="logo_container">
            <a href='/'>
            <img class="main_logo" src="/img/logo_ideal.png" alt="Logo de Ideal">
            </a>
        </figure>
        <nav>
            <ul class="header_list">
                <li><a href="/">Inicio</a></li>
                <li><a href="/cotizacion">Servicios</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="/login">Mi cuenta</a></li>
            </ul>
            <section class="icon_section">
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                <input class="bar_search" type="search">
                <a class="lupa_icon" href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bars"></i></a>
            </section>
        </nav>
    </header>
    <!--INICIO COTIZACION DE SERVICIOS-->
    <main>
        <main class="cotizacion-main">
            <h2 class="title-cotizacion">Cotiza tu servicio</h2>
            <form action="#" class="service-form">
             <h4>Pronto estaremos en contacto con usted <i class="far fa-comment-dots"></i> </h4>
           
            

                <div class="container-serviceform">
                    <h3>Seleciona el tipo de servicio</h3>
                    <select class="select_service" name="service" id="select-service" type="select">
                        <option selected="" value="Tipo de servicio">Tipo de servicio</option>
                        <option value="Calandra textil">Calandra textil</option>
                        <option value="Sublimación textil">Sublimación textil</option>
                        <option value="Serigrafía textil">Serigrafía textil</option>
                        <option value="Pottler de corte">Pottler de corte</option>
                        <option value="Estampación DTF">Estampación DTF</option>
                        <option value="Diseño textil">Diseño textil</option>
                        <option value="Bordado industrial">Bordado industrial</option>
                        <option value="Corte industrial">Corte industrial</option>
                        <option value="Confección indistrial">Confección indistrial</option>
                        
                    </select>
                </div>
                
</section> 
             
                <section class = "serviceform-two" >
                <label>ingresa tus datos</label>
                <input type="text" name="fullname" id="fullname" minlength="2" placeholder="Ingresa tus nombres" required>
                <input type="text" name="telephone" id="telephone" minlength="2" placeholder="Ingresa número de contacto" required>
                <input type="text" name="username" id="username" minlength="2" placeholder="Ingresa tu correo" required>
                <input type="text" name="city" id="city" required minlength="2" required placeholder="Ingresa tu ciudad"required>
                <input type="date" name="date" id="date" minlength="2" placeholder="Fecha estimada de entrega" required>
                <label>Selecciona un archivo</label>
                <input type="file" name="file" accept=".jpg"multiple>
                <div class="container_description">
                    <div class="service-description">
                        <label for="write_comments">Descripción </label>
                        <textarea id="write_comments"
                            name="area_comments">"¡Escribe aca! a detalle la solicitud del servicio"</textarea>
                    </div>
                </div>
                <button class = "buttons" type="submit" class="submit"><span>Cotiza tu servicio</span></button>

            </section>
        </form>
           
    </main>
    <!--FINAL COTIZACION DE SERVICIOS-->


    <footer >
        <figure>
            <a href="/">
                <img src="/img/logo_blanco_negro.png" alt="logo de ideal">
            </a>
        </figure>
        <figure>
            <a href="https://www.google.com/maps/place/Cl.+19+%2321-2+a+21-12,+Yarumal,+Antioquia/@6.9618253,-75.4175558,20z/data=!4m5!3m4!1s0x8e44f3ee73386a0f:0x3d2cae5f3fded13c!8m2!3d6.9618508!4d-75.4174526?hl=es" target="blank">
                <img src="/img/ubicacion.png" alt="punto de ubicacion en mapa de la empresa">
            </a>
        </figure>
        <ul>
            <li>Mi cuenta</li>
            <li><a href="/login">Ingresar</a></li>
            <li><a href="/register">Registrarse</a></li>
        </ul>
        <ul>
            <li>Contáctanos</li>
            <li>+57 310000000</li>
            <li>ideal@ideal.com</li>
        </ul>
        <ul>
            <li>Información legal</li>
            <li><a href="#">Terminos de uso</a></li>
            <li><a href="#">Politicas de privacidad</a></li>
        </ul>
        <ul class="list_icons">
            <li class="list_icons-title">Redes</li>
            <li><a href="https://www.facebook.com/ideal.dise/" target="blank"><i class="fab fa-facebook-square" ></i></a></li>
            <li><a href="https://www.instagram.com/ideal_dise/" target="blank"><i class="fab fa-instagram-square"></i></a></li>
        </ul>
    </footer>
</body>
</html>

