<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotiza tu servicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style_home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>
    <header>
        <figure class="logo_container">
            <a href='/'>
                <img class="main_logo" src="/img/logo_ideal.png" alt="Logo de Ideal">
            </a>
        </figure>
        <nav>
            <ul class="header_list">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Mi cuenta</a></li>
            </ul>
            <section class="icon_section">
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <input class="bar_search" type="search">
                <a class="lupa_icon" href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bars"></i></a>
            </section>
        </nav>
    </header>
    <!--INICIO COTIZACION DE SERVICIOS-->
    <main>
        <main class="cotizacion-main">
            <h2 class="title-cotizacion">Cotiza tu servicio</h2>
            <form action="#" class="service-form">
                <h3>Escoge el servicio a cotizar</h3>
                       <h5> <input type="radio" name="service" value="1">Diseño textil </h5>
                       <h5><input type="radio" name="service" value="1">Calandra textil</h5>
                        <h5><input type="radio" name="service" value="1">Sublimación textil</h5>
                        <h5><input type="radio" name="service" value="1">Serigrafía textil</h5>
                        <h5><input type="radio" name="service" value="1">Pottler de corte</h5>
                        <h5><input type="radio" name="service" value="1">Estampación DTF</h5>
                        <h5><input type="radio" name="service" value="1">Diseño textil</h5>
                        <h5><input type="radio" name="service" value="1">Bordado industrial</h5>
                        <h5><input type="radio" name="service" value="1">Corte industrial</h5>
                        <h5><input type="radio" name="service" value="1">Confección indistrial</h5>
             </form>
        <form action="#" class="cotizacion-form">

                <h3> Deja tus datos </h3>
                <input type="text" name="fullname" id="fullname" minlength="2" placeholder="Ingresa tus nombres" required>
                <input type="text" name="telephone" id="telephone" minlength="2" placeholder="Ingresa número de contacto" required>
                <input type="text" name="username" id="username" minlength="2" placeholder="Ingresa tu correo" required>
                <input type="text" name="city" id="city" required minlength="2" required placeholder="Ingresa tu ciudad"required>
                <input type="date" name="date" id="date" minlength="2" placeholder="Fecha estimada de entrega" required>
                <input type="text" name="description" id="description" minlength="2" placeholder="Ingresa una descripción del servicio solicitado" required>
                <label>Selecciona un archivo</label>
                <input type="file" name="file" accept=".jpg"multiple>
            </form>
            <div class="buttons">
                <button type="submit" class="submit"><span>Cotiza tu servicio</span></button>
                </div>

    </main>
    <!--FINAL COTIZACION DE SERVICIOS-->


    <footer >
        <figure>
            <img src=""" alt="">
        </figure>
        <figure>
            <a href="">
                <img src="" alt="">
            </a>
        </figure>
        <ul>
            <li>Mi cuenta</li>
            <li><a href="#">Ingresar</a></li>
            <li><a href="#">Registrarse</a></li>
        </ul>
        <ul>
            <li>Contáctanos</li>
            <li>+57 310000000</li>
            <li>ideal@ideal.com</li>
        </ul>
        <ul>
            <li>Información legal</li>
            <li><a href="#">Terminos de uso</a></li>
            <li><a href="#">Politicas de privacidad</a></li>
        </ul>
        <ul class="list_icons">
            <li class="list_icons-title">Redes</li>
            <li><a href="https://www.facebook.com/ideal.dise/" target="blank"><i class="fab fa-facebook-square" ></i></a></li>
            <li><a href="https://www.instagram.com/ideal_dise/" target="blank"><i class="fab fa-instagram-square"></i></a></li>
        </ul>
    </footer>
</body>
</html>

