<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>
    <main>
        <section class="carrousel_section">
            <figure class="carrousel_container">
                <img class="carrousel_image" src="/img/main_image/descarga.jfif" alt="imagenes de carrousel">
            </figure>
        </section>
        <section class="description_section">
            <figure class="description-image_container">
                <img class="description_image" src="/img/main_image/description_foto.jpg" alt="imagen de la empresa">
            </figure>
            <p>IDEAL es una empresa dedicada a la fabricación de prendas médicas, dotación empresarial y prendas creativas. En nuestro sitio web van a encontrar diversos productos y servicios relacionados con la sublimación, estampación, ilustración textil, confección industrial, diseño y patronaje de modas.</p>
        </section>
        <!-- <h3 class="services_title">Conoce nuestros servicios</h3> -->
        <!-- <section class="services_section">
            <ul>
                <a class="list-service_item" href="#">Diseño textil</a>
                <i class="fas fa-chevron-right"></i>            
            </ul>
            <ul>
                <a class="list-service_item" href="#">Calandra textil</a>
                <i class="fas fa-chevron-right"></i> 
            </ul>
            <ul>
                <a class="list-service_item" href="#">Sublimación textil</a>
                <i class="fas fa-chevron-right"></i> 
            </ul>
            <ul>
                <a class="list-service_item" href="#">Serigrafía textil</a>
                <i class="fas fa-chevron-right"></i> 
            </ul>
            <ul>
                <a class="list-service_item" href="#">Plotter de corte</a>
                <i class="fas fa-chevron-right"></i> 
            </ul>
            <ul>
                <a class="list-service_item" href="#">Estampación DTF</a>
                <i class="fas fa-chevron-right"></i> 
            </ul>
            <ul>
                <a class="list-service_item" href="#">Borde industrial</a>
                <i class="fas fa-chevron-right"></i> 
            </ul>
            <ul>
                <a class="list-service_item" href="#">Corde industrial</a>
                <i class="fas fa-chevron-right"></i> 
            </ul>
            <ul class="last-item_service">
                <a class="list-service_item" href="#">Confección industrial</a>
                <i class="fas fa-chevron-right"></i> 
            </ul>
        </section> -->
        <h3 class="products_title">Conoce nuestros productos</h3>
        <section class="products_section">
            <article class="product_card fashion_product">
                <h5 class="card-title" >Línea Fashion</h5>
                <section class="product-list_card">
                    <ul>
                        <li class="product-card_item"><a href="/products/productsList">Camisetas</a></li>
                        <li class="product-card_item"><a href="/products/productsList">Polos</a></li>
                        <li class="product-card_item"><a href="/products/productsList">Chompas</a></li>
                        <li class="product-card_item"><a href="/products/productsList">Chaquetas</a></li>
                        <li class="rigth-text"><a href="/products/productsList">Explora más</a></li>
                        <li class="flechita"><a href="sListsList"><i class="fas fa-arrow-alt-circle-right"></i></a></li>
                    </ul>
                </section>
                <figure class="fashion_image">
                    <img src="/img/main_image/fashion.png" alt="imagen de camiseta">
                </figure>
            </article>

            <article class="product_card sport_product" >
                <h5 class="card-title" >Línea Deportiva</h5>
                <section class="product-list_card">
                    <ul>
                        <li class="product-card_item"><a href="/products/productsList">Presentación</a></li>
                        <li class="product-card_item"><a href="/products/productsList">Futbol</a></li>
                        <li class="product-card_item"><a href="/products/productsList">Voleyball</a></li>
                        <li class="product-card_item"><a href="/products/productsList">Basketball</a></li>
                        <li class="rigth-text"><a href="/products/productsList">Explora más</a></li>
                        <li class="flechita"><a href="/products/productsList"><i class="fas fa-arrow-alt-circle-right"></i></a></li>
                    </ul>
                </section>
                <figure class="fashion_image">
                    <img src="/img/main_image/sport.png" alt="imagen de camiseta">
                </figure>
            </article>

            <article class="product_card industrial_product">
                <h5 class="card-title" >Línea Industrial</h5>
                <section class="product-list_card">
                    <ul>
                        <li class="product-card_item"><a href="/products/productsList">Conjunto termico</a></li>
                        <li class="product-card_item"><a href="/products/productsList">Conjunto antifluido</a></li>
                        <li class="product-card_item"><a href="/products/productsList">Chaleco industrial</a></li>
                        <li class="product-card_item"><a href="/products/productsList">Overol industrial</a></li>
                        <li class="rigth-text"><a href="/products/productsList">Explora más</a></li>
                        <li class="flechita"><a href="/products/productsList"><i class="fas fa-arrow-alt-circle-right"></i></a></li>
                    </ul>
                </section>
                <figure class="fashion_image">
                    <img src="/img/main_image/industrial.png" alt="imagen de camiseta">
                </figure>
            </article>

            <article class="product_card medical_product">
                <h5 class="card-title" >Línea Medica</h5>
                <section class="product-list_card">
                    <ul>
                        <li class="product-card_item"><a href="/products/productsList">Bata Quirurgica</a></li>
                        <li class="product-card_item"><a href="/products/productsList">Monotraje</a></li>
                        <li class="product-card_item"><a href="/products/productsList">Conjunto medico</a></li>
                        <!-- <li class="product-card_item"><a href="/products/productsList">Producto</a></li> -->
                        <li class="rigth-text"><a href="/products/productsList">Explora más</a></li>
                        <li class="flechita"><a href="/products/productsList"><i class="fas fa-arrow-alt-circle-right"></i></a></li>
                    </ul>
                </section>
                <figure class="fashion_image">
                    <img src="/img/main_image/medical.png" alt="imagen de camiseta">
                </figure>
            </article>

        </section>
    </main>
    <script src="/js/eventNavBar.js"></script>
    <%- include("./partials/footer") %>
</body>
</html>

