<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>
    <main>
        <section class="container_details_product">
            <figure class="container_product">
                <img class="product_image" src="/img/fashion.png" alt="camiseta_fashion">
            </figure>
            <section class="container_info_product">
                <h3 class="product_name">Camisetas Personalizadas </h3>
                <div class="detail_product">
                    <div class="contanier_cost">
                        <div class="product_cost">$18.000</div>
                    </div>
                    </div>
                    <div class="container_technic">
                        <span class="title_technic">Técnica</span>
                        <span class="type_technic">Full Color Sublimación</span>
                    </div>
                    <div class="container_line">
                        <span class="title_line">Linea Fashion</span>
                        <div class="list">
                            <ul>
                                <li> Campañas Publicitarias</li>
                                <li> Campañas Políticas</li>
                                <li> Eventos Corporativos</li>
                            </ul>
                        </div>
                    </div>
                    <div class="buying_guide">
                        <i class="fas fa-book-open"></i><a href="#">Guía de compra</a>
                    </div>
                </div>
                <div class="container_form">
                    <form action="/" method="post">
                        <div class="container_material">
                            <div class="list_material">
                                <span class="title_material">Tela</span>
                                <ul class="topic_material">
                                    <li class="select_material">
                                        <span class="material">
                                            <input type="radio" name="tela" id="tela_01" value="algodon">
                                            <label for="tela_01" name="tela">Algodon</label>
                                            <input type="radio" name="tela" id="tela_02" value="Poliester">
                                            <label for="tela_02" name="tela">Poliester</label>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="container_sizes">
                            <div class="list_sizes">
                                <span class="title_size">Talla</span>
                                <div class="size_guide">
                                    <i class="fas fa-tshirt"></i><a href="#">Guía de tallas</a>
                                </div>
                                <ul class="topic_size">
                                    <li class="select-size">
                                        <span class="sizes">
                                            <input type="radio" name="talla" id="talla_01" value="XS">
                                            <label for="talla_01" name="talla">XS</label>
                                            <input type="radio" name="talla" id="talla_02" value="S">
                                            <label for="talla_02" name="talla">S</label>
                                            <input type="radio" name="talla" id="talla_03" value="M">
                                            <label for="talla_03" name="talla">M</label>
                                            <input type="radio" name="talla" id="talla_04" value="L">
                                            <label for="talla_04" name="talla">L</label>
                                            <input type="radio" name="talla" id="talla_05" value="XL">
                                            <label for="talla_05" name="talla">XL</label>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="container_color">
                            <span class="title_color">Color</span>
                            <div class="topic_color">
                                <select class="select_color" name="color" id="select-color" type="select">
                                    <option selected="" value="Blanco">Blanco</option>
                                    <option value="Negro">Negro</option>
                                    <option value="Morado">Morado</option>
                                    <option value="Naranja">Naranja</option>
                                </select>
                            </div>
                        </div>
                        <div class="container_fileUpload">
                            <label for="title_fileUpload">Subir archivo/diseño</label>
                            <input type="file" id="fileUpload">
                        </div>
                        <div class="container_comments">
                            <div class="comments">
                                <label for="write_comments">Observaciones Adicionales</label>
                                <textarea id="write_comments"
                                    name="area_comments" placeholder="¡Escribe aca! Observaciones o detalles adicionales a tener en cuenta"></textarea>
                            </div>
                        </div>
                        <div class="container_quantity">
                            <div class="quantity">
                                <select class="list_quantity" name="cantidad" id="select_quantity">
                                    <option selected="" value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <button class="btn " type="submit">Agregar al carrito</button>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>