<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style_home.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>
    <header>
        <figure class="logo_container">
            <a href='/'>
            <img class="main_logo" src="/img/logo_ideal.png" alt="Logo de Ideal">
            </a>
        </figure>
        <nav>
            <ul class="header_list">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Mi cuenta</a></li>
            </ul>
            <section class="icon_section">
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                <input class="bar_search" type="search">
                <a class="lupa_icon" href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bars"></i></a>
            </section>
        </nav>
    </header>

    <!--INICIO DEL MAIN REGISTER-->

        <main class="register-main">
            <h2 class="title-register">Registrate</h2>
            <form action="#" class="register-form">
                
                <input type="text" name="fullname" id="fullname" minlength="2" placeholder="Ingresa tus nombres" required>
                <input type="text" name="username" id="username" minlength="2" placeholder="Ingresa tus apellidos" required>
                <input type="text" name="username" id="username" minlength="2" placeholder="Ingresa tu correo" required>
                <input type="password" name="pass" id="pass" required minlength="8" required placeholder="Ingresa una contraseña">
                <input type="password" name="pass-confirm" id="pass-confirm" minlength="8" required placeholder="Confirma tu contraseña">
                <section class="acepto">
                <h3><input type="radio" name="politics" value="1">Acepto la política de privacidad</h3>
            </section>
                <button class = "buttons" type="submit" class="submit"><span>Registrarse</span></button>
           
                <section class="low_section">
                    <h4>¿Ya tienes una cuenta?</h4>
                    <a href="/login"><p>Ingresa</p></a>
                </section>
            </form>
        </main>
    </main>

    <!--FINAL MAIN REGISTER-->
    <footer >
        <figure>
            <a href="/">
                <img src="/img/logo_blanco_negro.png" alt="logo de ideal">
            </a>
        </figure>
        <figure>
            <a href="https://www.google.com/maps/place/Cl.+19+%2321-2+a+21-12,+Yarumal,+Antioquia/@6.9618253,-75.4175558,20z/data=!4m5!3m4!1s0x8e44f3ee73386a0f:0x3d2cae5f3fded13c!8m2!3d6.9618508!4d-75.4174526?hl=es" target="blank">
                <img src="/img/ubicacion.png" alt="punto de ubicacion en mapa de la empresa">
            </a>
        </figure>
        <ul>
            <li>Mi cuenta</li>
            <li><a href="/login">Ingresar</a></li>
            <li><a href="#">Registrarse</a></li>
        </ul>
        <ul>
            <li>Contáctanos</li>
            <li>+57 310000000</li>
            <li>ideal@ideal.com</li>
        </ul>
        <ul>
            <li>Información legal</li>
            <li><a href="#">Terminos de uso</a></li>
            <li><a href="#">Politicas de privacidad</a></li>
        </ul>
        <ul class="list_icons">
            <li class="list_icons-title">Redes</li>
            <li><a href="https://www.facebook.com/ideal.dise/" target="blank"><i class="fab fa-facebook-square" ></i></a></li>
            <li><a href="https://www.instagram.com/ideal_dise/" target="blank"><i class="fab fa-instagram-square"></i></a></li>
        </ul>
    </footer>
</body>
</html>

