* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

header {
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

header .logo_container {
    width: 70%;
}

header .main_logo {
    width: 70%;
    max-width: 300px;
}

header nav {
    width: 30%;
}

header .header_list {
    display: none;
    list-style: none;
}

header .header_list a {
    text-decoration: none;
    color: #1e2d44e0;
}

header .icon_section {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    
}

header .icon_section i {
    color: #1e2d44e0;
}

header .icon_section .lupa_icon {
    order: -1;
}

header .bar_search {
    display: none;
}

/* HASTA ACA VA EL HEADER  */

/* INICIO CARROUSEL  */

main {
    width: 100%;
    margin: 0 auto;
}

main .carrousel_container {
    width: 90%;
    margin: 30px auto;
    overflow: hidden;
}

main .carrousel_image {
    width: 100%;
    height: 200px;
}

/* FIN CARROUSEL  */

/* INICIO SECCION DESCRIPCION  */

.description_section {
    width: 80%;
    max-width: 700px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
    padding-bottom: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.description_section .description-image_container {
    width: 70%;
    margin: 0 auto 25px;
    text-align: center;
}

.description_section .description_image {
    width: 100%;
    border-radius: 50%;
}

.description_section p {
    margin: 0 auto;
    width: 80%;
    font-weight: 300;
    text-align: justify;
    font-size: 20px;
}

main .services_title {
    width: 80%;
    text-align: center;
    margin: 40px auto 0;
    font-weight: 500;
    font-size: 25px;
}

main .services_section {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.473);
    padding: 40px 0 40px;
}

.services_section ul {
    width: 48%;
    height: 35px;
    margin: 15px auto;
    padding: 0 10px 0 15px;
    background: rgb(37,58,80);
    background: linear-gradient(90deg, rgba(37,58,80,1) 59%, rgba(30,30,30,1) 96%);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: start;
    font-weight: 300;
}

.services_section ul i {
    font-size: 15px;
    margin-right: 5px;
    color: #ffc107;
}

.services_section .list-service_item {
    width: 300px;
    text-decoration: none;
    color: white;
    margin-top: 2px;
    font-size: 18px;
}

.services_section .last-item_service {
    justify-self: start;
}

/* FIN SECCION DESCRIPCION  */

/* INICIO SECCION PRODUCTOS  */

.products_title {
    width: 80%;
    text-align: center;
    margin: 30px auto;
    font-weight: 500;
    font-size: 25px;
}

.products_section {
    margin: 50px auto 50px;
}

.products_section .product_card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px auto;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    background: linear-gradient(125deg, rgba(255,255,255,1) 23%, rgba(220,220,220,1) 65%);
}

.fashion_product {
    box-shadow: rgba(255,72,38, 0.4) 5px 5px, rgba(255,72,38, 0.3) 10px 10px, rgba(255,72,38, 0.2) 15px 15px, rgba(255,72,38, 0.1) 20px 20px, rgba(255,72,38, 0.05) 25px 25px;
}

.fashion_product .product-list_card {
    background: #ff4826;
}

.sport_product {
    box-shadow: rgba(118,7,132, 0.4) 5px 5px, rgba(118,7,132, 0.3) 10px 10px, rgba(118,7,132, 0.2) 15px 15px, rgba(118,7,132, 0.1) 20px 20px, rgba(118,7,132, 0.05) 25px 25px;
}

.sport_product .product-list_card {
    background: #760784;
}

.industrial_product {
    box-shadow: rgba(164,169,0, 0.4) 5px 5px, rgba(164,169,0, 0.3) 10px 10px, rgba(164,169,0, 0.2) 15px 15px, rgba(164,169,0, 0.1) 20px 20px, rgba(164,169,0, 0.05) 25px 25px;
}

.industrial_product .product-list_card {
    background: #a4a900;
}

.medical_product {
    box-shadow: rgba(129,159,219, 0.4) 5px 5px, rgba(129,159,219, 0.3) 10px 10px, rgba(129,159,219, 0.2) 15px 15px, rgba(129,159,219, 0.1) 20px 20px, rgba(129,159,219, 0.05) 25px 25px;
}

.medical_product .product-list_card {
    background: #819fdb;
}

main .fashion_image {
    width: 137px;
    position: absolute;
    left: calc(100% - 120px);
    bottom: 40px;
}

main .fashion_image img {
    width: 100%;
}

.product_card .card-title {
    margin: 30px;
    font-size: 25px;
    color: black;
    font-weight: 300;
}

.products_section .product_card .product-list_card {
    width: 100%;
    height: 50%;
    position: absolute;
    opacity: 1;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


.product-list_card .rigth-text {
    position: absolute;
    left: calc(100% - 90px);
    bottom: 14px;
    margin-bottom: 5px;
}

.product-list_card .flechita {
    position: absolute;
    left: calc(100% - 20px);
    bottom: 13px;
    margin-bottom: 5px;
}

.product-list_card ul {
    list-style: none;
}

.product-list_card .product-card_item a,
.product-list_card .rigth-text a,
.product-list_card .flechita a
{
    text-decoration: none;
    color: white;
    font-weight:300;                                                                   
}

.product-list_card .product-card_item {
    margin-left: 10px;
}

/* FIN SECCION PRODUCTOS  */

/* INICIO FOOTER  */

footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #1e1e1e;
    padding: 0 30px 20px
}

footer figure {
    width: 40%;
    margin: 20px 0;
}

footer figure img {
    width: 100%
}

footer ul {
    list-style: none;
    width: 40%;
    margin: 10px;
    color: #1e2d44e0;
}

footer ul li {
    font-size: 16px;
    font-weight: 300;
    color: rgba(114, 109, 109, 0.774);
    margin-top: 5px;
}

footer ul li:first-child {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1e2d44e0;
}

footer ul li a {
    text-decoration: none;
    color: rgba(114, 109, 109, 0.774);
}

footer .list_icons {
    display: flex;
    flex-wrap: wrap;;
}

footer .list_icons-title {
    width: 100%;
    margin: 0;
}

footer .list_icons li a {
    align-self: center;
    font-size: 30px;
    margin-right: 5px;
    color: black;
}

/* FIN FOOTER  */

/* LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN  */

.main_login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    height: 400px;
    max-width: 750px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.login_title {
    font-size: 30px;
    color: #1e2d44e0;
}




.main_login form {
    width: 100%;
}

.login_form input {
    display: block;
    margin: 20px auto;
    width: 70%;
    max-width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #1e2d44e0;
    font-size: 18px;
}


.login_form input:last-child {
    background-color: #1e2d44e0;
    color: white;
}
/* */
.sign-in input:last-child{
    background-color: #1e2d44e0;
    color: white;
}
.new_section {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 20px;
    margin-bottom: 30px;
    color: #1e2d44e0;
}

.new_section a {
    text-decoration: none;
    color: #ff4826;
    font-weight: bold;
}


/* LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN  */

/* MEDIA QUERIS HOME  */

@media (min-width: 481px) {

    .description_section {
        font-size: 18px;
        width: 90%;
    }

    .description_section .description-image_container {
        width: 50%;
    }

    .services_section ul {
        width: 180px;
    }
}

@media (min-width: 769px) {

    /* HEADER  */

    header {
        max-width: 750px;
    }

    header .logo_container {
        padding-left: 20px;
    }
    
    header nav {
        display: flex;
        width: 60%;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;
    }

    header nav li,
    header nav i
    {
        font-size: 20px;
        margin-right: 10px;
    }

    header .header_list {
        display: flex;
    }

    header .logo_container {
        width: 40%;
    }
    
    header .main_logo {
        width: 100%;
        max-width: 275px;
    }

    /* HEADER  */

    /* MAIN  */

    .carrousel_section {
        max-width: 720px;
        margin: 0 auto;
    }

    .description_section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description_section p {
        width: 280px;
        margin: 0 20px;
        font-size: 20px;
    }

    .description_section .description-image_container {
        width: 280px;
        margin: 0 20px;
    }

    main .services_section {
        width: 700px;
    }

    .services_section ul {
        width: 190px;
    }

    .products_section {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        max-width: 750px;
    }

    .products_section .product_card {
        width: 300px;
    }

    .list-service_item {
        font-size: 18px;
    }

    /* MAIN  */

    /* FOOTER  */

    footer {
        justify-content: space-around;
        padding: 40px 0;
        max-width: 750px;
    }

    footer figure {
        width: 40%;
        margin: 0 20px
    }

    footer ul {
        width: auto;
    }

    footer ul li:first-child {
        font-size: 21px;
    }

    footer ul li {
        font-size: 18px;
    }

    .main_login {
        height: 60vh;
        justify-content: space-evenly;
    }
}

/* INICIO REGISTER MAIN */
.register-main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    margin: 2px 0;
  
  }

  .register-form input {
      border-radius: 5px;
      display: block;
      margin: 20px auto;
      width: 70%;
      border: 2px solid #1e2d44e0;
      font-size: 18px ;
      padding:10px;
  }
  
  .register-form input:last-child {
    background-color: #1e2d44e0;
    color: white;
}
  .register-main .register-form {
    display: flex;
    width: 90%;
    max-width: 550px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FFF;
    padding: 35px 25px;
    gap: 8px;
    margin-bottom: 25px;
  }
  .register-form .politicas {
      display:block;
      text-align: center;
  }
.buttons button{
    
    background-color: #1e2d44e0;
    color: white;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 18px;
    max-width: 300px;
    height: 40px;
    padding: 10px;
    border: 2px solid #1e2d44e0
}

  .title-register {
    font-size: 30px;
    color: #1e2d44e0;
}



/* FINAK REGISTER MAIN */








/* MEDIA QUERIS HOME  */