<div class="color_abajo">
    <footer >
        <figure>
            <a href="/">
                <img src="/img/logo_blanco_negro.png" alt="logo de ideal">
            </a>
        </figure>
        <figure>
            <a href="https://www.google.com/maps/place/Cl.+19+%2321-2+a+21-12,+Yarumal,+Antioquia/@6.9618253,-75.4175558,20z/data=!4m5!3m4!1s0x8e44f3ee73386a0f:0x3d2cae5f3fded13c!8m2!3d6.9618508!4d-75.4174526?hl=es" target="blank">
                <img class="mapa_ubicacion" src="/img/ubicacion.png" alt="punto de ubicacion en mapa de la empresa">
            </a>
        </figure>
        <ul>
            <li>Mi cuenta</li>
            <li><a href="/login">Ingresar</a></li>
            <li><a href="/register">Registrarse</a></li>
        </ul>
        <ul>
            <li>Contáctanos</li>
            <li>+57 310000000</li>
            <li>ideal@ideal.com</li>
        </ul>
        <ul>
            <li>Información legal</li>
            <li><a href="#">Terminos de uso</a></li>
            <li><a href="#">Politicas de privacidad</a></li>
        </ul>
        <ul class="list_icons">
            <li class="list_icons-title">Redes</li>
            <li><a href="https://www.facebook.com/ideal.dise/" target="blank"><i class="fab fa-facebook-square" ></i></a></li>
            <li><a href="https://www.instagram.com/ideal_dise/" target="blank"><i class="fab fa-instagram-square"></i></a></li>
        </ul>
    </footer>
</div>