<div class="color_arriba">
    <header>
        <figure class="logo_container">
            <a href='/'>
            <img class="main_logo" src="/img/main_image/logo_ideal.png" alt="Logo de Ideal">
            </a>
        </figure>
        <nav>
            <ul class="header_list">
                <li><a href="/">Inicio</a></li>
                <li><a href="/products/cotizacion">Servicios</a></li>
                <li><a href="/products/productsList">Productos</a></li>
                <% if (locals.islogged){ %>
                    <li class="menu"><a class="nav-link_img" href="#" >
                        <span class="link_img">
                            <img src="/img/users_avatars/<%= locals.userLogged.avatar %> " width="40" style="border-radius: 50%;"> 
                        </span>  
                        <span><%= locals.userLogged.name %> </span>                        
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a class="dropdown-item" href="/users/profile">Perfil</a></li>                    
                            <li> <a class="dropdown-item" href="/users/logout/">Cerrar sesión</a></li>
                        </ul>
                        </li>
                
                <% } else{ %> 
                    <li><a href="/users/login">Mi cuenta</a></li>
                    <% } %>     
                    
        </ul>
                <section class="icon_section">
                    <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
                    <input class="bar_search" type="search">
                    <a class="lupa_icon" href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="fas fa-bars"></i></a>
        </section>
        </nav>
    </header>
</div>