<div class="color_arriba">
    <header>
        <figure class="logo_container">
            <a href='/'>
            <img class="main_logo" src="/img/logo_ideal.png" alt="Logo de Ideal">
            </a>
        </figure>
        <nav>
            <ul class="header_list">
                <li><a href="/">Inicio</a></li>
                <li><a href="/products/cotizacion">Servicios</a></li>
                <li><a href="/products/productsList">Productos</a></li>
                <li><a href="/users/login">Mi cuenta</a></li>
            </ul>
            <section class="icon_section">
                <a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a>
                <input class="bar_search" type="search">
                <a class="lupa_icon" href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-bars"></i></a>
            </section>
        </nav>
    </header>
</div>