<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main>
                <div class="container">
                    <div class ="box">
                        <img src = '/img/products_image/1637898344941_bata_reutiliza.png'>
                    </div>
                    <div class ="box">
                        <img src = '/img/products_image/1637898210057_overol_empresa.png'>
                    </div>
                    <div class ="box">
                        <img src = '/img/products_image/1637898279075_unifordepor_voleyball.png'>
                    </div>
                </div>
            </main>
            
            <%- include("../partials/footer") %>
    </body>

</html>